@import "base.css";

h3 {
    color: var(--colore-tema);
    text-align: center;
    margin-top: 2.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

h3:first-of-type {
    margin-top: 5rem;
}

h3 a {
    text-decoration: none;
    color: var(--colore-tema);
}

/*Cella "aggiungi" delle tabelle*/
table tr:last-of-type td {
    padding: 1rem;
    text-align: center;
    background-color: var(--colore-tema);
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

table {
    min-width: 40%;
    width: 40%;
    max-width: 60%;
    display: none;
}