@import "base.css";

* {
    font-family: Open Sans;
}

h1 {
    color: dodgerblue;
}

form {
    max-width: 30%;
    padding: 2rem;
    background-color: #eeeeee;
}

form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
}

form input[type="submit"] {
    margin-top: 0.3rem;
    border: 0;
    outline: 0;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #eee;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    form {
        max-width: 90%;
    }
}
